.scroll-pane {
    -fx-background-color: black;
    -fx-fill: black;
    -fx-border-color: black;
}

.scroll-pane > .scroll-bar {
    -fx-background-color: black;
}

.scroll-pane > .scroll-bar > .increment-button > .increment-arrow,
.scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #44c553;
}

.scroll-pane > .scroll-bar > .increment-button,
.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color: black;
}

.scroll-pane > .corner {
    -fx-background-color: Green;
    -fx-background-insets: 0 1 1 0;
}
.scroll-pane > .scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-pane > .scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: green;
}

.scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: #44c553;
}

.texts {
    -fx-fill: #44c553;
    -fx-font-family: IONA-U1;
    -fx-font-size: 15;
    -fx-text-fill: #44c553;
    -fx-background-color: black;
    -fx-padding: 0 0 0 0;
}

.text-field-word{
    -fx-font-family: Orbitron;
    -fx-font-size: 15;
    -fx-text-fill: #44c553;
    -fx-background-color: black;
    -fx-background-radius: 0;
    -fx-padding: 13 0 13 0;
}

.numbers{
    -fx-fill: #44c553;
    -fx-font-family: IONA-U1;
    -fx-font-size: 16;
    -fx-text-fill: #44c553;
    -fx-background-color: black;
    -fx-padding: 0 0 0 0;
}

.button {
    -fx-background-color: Transparent;
    -fx-border-color: #44c553;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 1 1;
    -fx-text-fill: #44c553;
}
.button:hover{
    -fx-text-fill: #107F1D;
}

.score-Field {
    -fx-background-color: black;
    -fx-fill: black;
}

#root {
    -fx-background-color: Black;
}